.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clear {
    clear: both;
}

p {
    word-wrap: break-word;
}


body {
    font-size: 20px;
    line-height: 28px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

/******* style start ***/
.container {
    padding-left: 0;
    padding-right: 0;
}

.site-header {
    height: 555px;
    position: relative;
    width: 100%;
    z-index: 9;
    background-position: center top;
}

/* css of home-body */

.textwidget>h2 {
    display: inline-block;
    font-size: 34px;
    line-height: 38px;
    margin: 0;
    width: 235px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.textwidget>a {
    background: none repeat scroll 0 0 #f58220;
    color: #ffffff;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 268px;
}

/* css of footer */
.site-footer {
    background: none repeat scroll 0 0 orange;
}

.footer {
    margin: 0 auto;
    padding-top: 35px;
    position: relative;
    width: 1000px;
}

.dinein-container {
    position: relative;
    color: #ffffff;
    display: inline-block;
    align-items: center;
    vertical-align: top;
    width: 350px;
}

.dinein-container li {
    list-style: none;
}

.dinein-container li h2 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    margin-bottom: 20px;
}

.address-footer {
    position: relative;
    display: grid;
    float: left;
    font-size: 15px;
    line-height: 22px;
    width: 140px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.contact-right {
    float: right;
    width: 130px;
}

.dinein-container .textwidget {
    width: 300px;
}

.address-footer>span {
    font-size: 18px;
    line-height: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.contact-no {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.social-links a .fa {
    color: #fff;
    font-size: 20px;
}


.social-links a:hover {
    text-decoration: none;
}

.social-links a .fa.fa-facebook:hover,
.social-links a .fa.fa-envelope:hover,
.social-links a .fa.fa-github-square:hover,
.social-links a .fa.fa-linkedin-square:hover,
.social-links a .fa.fa-instagram:hover {
    color: #3B579D;
}

.site-header {
    background-position: center top;
    height: 380px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.page .site-main {
    background: none repeat scroll 0 0 #fdf0e1;
}

.home .site-main {
    background: none repeat scroll 0 0 #ffffff;
}

.wrapper {
    margin: -7px auto 0;
    width: 1128px;
}

.entry-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fd6e3a;
}

.hr3 {
    height: 25px;
    background: url(https://theburgershop.ca/wp-content/themes/berger/img/Line-burger.png) no-repeat center;
    border: none;
    margin-top: .3rem;
}

.weight-bold {
    display: block;
    font-size: 29px;
    line-height: 30px;
    margin-bottom: 1px;
}

.forward-serving {
    font-size: 26px;
    color: rgb(70, 58, 91);
    font-weight: 400;
    margin-bottom: 50px;
}

.main-header {
    height: 375px;
    position: relative;
}

.container .widget-area {
    float: right;
    margin-top: 50px;
    width: 28%;
}

.widget ul li a {
    color: #f68320;
    font-size: 20px;
    line-height: 20px;
}

.widget .widget-title {
    font-size: 20px;
    text-transform: uppercase;
}

/******************* custom menu ***********************/

.width-100 {
    width: 100%
}

.burger-menu .post-title span {
    color: #000000;
}

.grecaptcha-badge {
    visibility: hidden !important;
}